body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: Arial;
}

header  {
    height: 40px;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    background: #EDEDED;
    border-bottom: 1px solid #D3D3D3;
    height: 35px;
}

.active {
    font-weight: bold;
}

header ol {
    list-style: none;
    display: inline;
    float: right;
    padding: 7px 0 0;
    width: 90%;
}

header li {
    display: list-item;
    display: inline;
    text-align: -webkit-match-parent;
    position: relative;
}

main {
    overflow: auto;
}

.home-wrapper {
    padding-top: 80px;
    width: 800px;
    margin: 0 auto;

}

.home-wrapper p {
    color: #434343;
    font-size: 1.1em;
    line-height: 1.3em;
}

.next-lesson {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}




.home-wrapper h3 {
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1.5em;
}

.instruction-wrapper {
    height: 55%;
}

.instruction-div {
    padding-top: 50px;
    width: 800px;
    margin: 0 auto;
    /*height: 55%;*/
    padding-bottom: 40px;


}

.instruction-div h2 {
    font-size: 1.35em;
    color: #000;
}

.instruction-div h2 em {
    color: #8D8D8D;
    margin-right: 5px;
    padding-right: 15px;
    position: relative;
    font-style: normal;
}

.instruction-div h5 {
    font-size: 1.15em;
    font-weight: bold;
}

.instruction-div p {
    color: #434343;
    font-size: 1.1em;
    line-height: 1.3em;
}


.terminal-div {
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: 1px;
    background-color: #22b8eb;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
}

.toolbar {
    background-color: #efedee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efedee), to(#c1c1c1));
    background-image: -webkit-linear-gradient(top, #efedee, #c1c1c1);
    background-image: -moz-linear-gradient(top, #efedee, #c1c1c1);
    background-image: -ms-linear-gradient(top, #efedee, #c1c1c1);
    background-image: -o-linear-gradient(top, #efedee, #c1c1c1);
    background-image: linear-gradient(top, #efedee, #c1c1c1);
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #6287A4;
    border-bottom: 0;
    height: 30px;

    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-box-shadow: 3px 4px 10px 2px rgba(92,92,92,1);
    -moz-box-shadow: 3px 4px 10px 2px rgba(92,92,92,1);
    box-shadow: 3px 4px 10px 2px rgba(92,92,92,1);
}

.toolbar .controls {
    left: 9px;
    position: absolute;
    top: 9px;
}

.toolbar .title {
    color: #000;
    display: block;
    font: 0.9em "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;

pre {
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;

    background: #faf8f0;
    border: solid 1px #e1e1e1
}
code {
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    display: inline;
    color: #555555;
    padding: 1em 1em;

    background: #f4f4f4;
}
