body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: Arial;
}

header  {
    height: 40px;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    width: 100%;
    background: #efedee;
    z-index: 10;
}

.active {
    font-weight: bold;
}

header ol {
    list-style: none;
    display: inline;
    float: right;
    padding: 7px 0 0;
    width: 90%;
}

header li {
    display: list-item;
    display: inline;
    text-align: -webkit-match-parent;
    position: relative;
}

main {
    overflow: auto;
}

.home-wrapper {
    padding-top: 80px;
    width: 800px;
    margin: 0 auto;

}

.home-wrapper p {
    color: #434343;
    font-size: 1.1em;
    line-height: 1.3em;
}

.next-lesson {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.home-wrapper h3 {
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1.5em;
}

.instruction-wrapper {
    height: 55%;
}

.instruction-div {
    padding-top: 60px;
    width: 800px;
    margin: 0 auto;
    /*height: 55%;*/
    padding-bottom: 40px;


}

.instruction-div h2 {
    font-size: 1.35em;
    color: #000;
}

.instruction-div h2 em {
    color: #8D8D8D;
    margin-right: 5px;
    padding-right: 15px;
    position: relative;
}

.instruction-div h5 {
    font-size: 1.15em;
    font-weight: bold;
}

.instruction-div p {
    color: #434343;
    font-size: 1.1em;
    line-height: 1.3em;
}


.terminal-div {
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: 1px;
    background-color: #4183c4;
    padding-top: 40px;
    padding-bottom: 40px;

    position: fixed;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
}





pre {
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;

    background: #faf8f0;
    border: solid 1px #e1e1e1
}
code {
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    display: inline;
    color: #555555;
    padding: 1em 1em;

    background: #f4f4f4;
}
